body {
    margin: 0px;
}

.black {
    background-color: #505050;
    color: #d7d7d7;
    margin-left: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.black h1, h2, p, aside, img, a{
    margin-left: 16px;
    margin-right: 6px;
}

.top-navbar {
    left: 0;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.top-navbar a {
    float: left;
    color: lightgrey;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    font-size: 20px;
}

.top-navbar a:hover {
    color: antiquewhite;
}

.bot-navbar {
    margin: 0px;
    left: 0;
    bottom: 0;
    padding-bottom: 11px;
    height: 50px;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.bot-navbar a {
    float: left;
    color: lightgrey;
    padding-top: 4%;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 20px;
}

.bot-navbar a:hover {
    color: antiquewhite;
}